.card {
  display: flex;
  align-items: center;
  height: 280px;
  background-color: white;
  padding: 0 30px;
  margin-bottom: 30px;

  .image {
    width: 80px;
    height: 80px;
    background-size: contain;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    max-width: 70%;

    h3 {
      margin-bottom: 24px;
    }
  }
}